*jpg
*png
*__pycache__
*\data
*.pth
*pt
*\labelImg
*\yolov5

\runs
\wandb
\petrol-prices-object-detection

\env
\datasets
*\temp.py
*.csv
*\systempath_problem.py

# Roboflow API Key
secret.py

# Dataset (downloaded from Roboflow)
Petrol-tags-detection.-*